* {
    margin: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url("../Images/sky.jpg");
    color: #d8c97b;
    background-attachment: fixed;
}

header {
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 15px 15px 0 0;
    font-size: 1rem;
}

header > h1 {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0;
}

nav > ul {
    list-style: none;
    position: fixed;
    top: 0.5rem;
}

nav li {
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    font-size: 1em;
    padding: 0.3em;
}

footer {
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 0 0 15px 15px;
    height: 4em;
    clear: both;
}

.left {
    float: left;
    margin: 5px 15px 0 5px;
}

.grid__legend {
    text-align: center;
}

.right {
    float: right;
    border: 1px solid #d8c97b;
    border-radius: 0 0 15px 15px;
    margin: 5px 5px 0;
}

.right img {
    width: 160px;
    height: 120px;
}

.farGalaxy {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.5;
    text-align: justify;
}

.bottomLeft {
    border-bottom-left-radius: 15px;
}

.bottomRight {
    border-bottom-right-radius: 15px;
}

img {
    box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

.right img {
    box-shadow: none;
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    height: 2em;
    width: 9em;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    float: left;
    margin-left: 18em;
}

.button > p {
    font-size: 0.8em;
    text-align: center;
    padding: 0.4em 0;
}

.email {
    color: black;
    font-size: 1.2em;
    font-variant: small-caps;
}
